/**
 * SASS Partials : item-module.scss (Consist of styles for Item creation, edit modules)
 * Includes styles for general pages
 * Author : Virgilio Lalamoro 2/21/2017
 */

@media screen {

  // Toggling Hidden Class for Inventory Enabled
  .inventory-hidden,
  .variation-hidden,
  .attributes-hidden,
  .composite-hidden,
  .simple-hidden {
    display: none;
  }

  .variations-box-wrapper {
    #sell-price-tabs-2 {
      .table-variation-branches {
        .branch-listing {
          position: relative;
        }
        tr {
            &:hover {
            .btn-copy-branches-pricing {
              display: block;
            }
          }
          
          td {
            color: #636b6f;
          }
        }
        .btn-copy-branches-pricing {
          display: none;
          position: absolute;
          bottom: 3px;
          left: 8px;
        }
      }
    }
  }

}