@media screen {

  // General Form with Validations
  .form-group {
    label {
      color: #6B6464;
      //font-weight: 400;
      //font-size: 14px;
    }
  }

  .form-validation-true {
    input {

      &.error {
        border-color: $input-border !important;
      }
    }

    label.error {
      font-size: 12px;
      border-color: $response-border;
      background: $response-background;
      border-radius: 3px;
      color: #fff;
      display: block;
      font-weight: normal;
      margin-top: 10px;
      padding: 2px 5px;
      position: relative;
      text-align: left;
    }
  }

  // Filter Rows
  .filter-options {
    border-bottom: 1px solid #DFE8F1;
    margin-bottom: 10px;
    padding-bottom: 10px;

    .control-label {
      display: block;
    }

    .form-group + .form-group {
      border-left: 1px solid #EBEFF4;
      margin-left: 10px;
      padding-left: 13px;
    }

    .go-btn-group.form-group {
      border-left: 0;
      margin-left: 0;
    }

    .form-group {
      .form-control {
        min-width: 120px;
        max-width: 130px;
      }
    }
  }

  // Chosen Select
  .chosen-container-multi {
    min-height: 0;
  }

  .chosen-container-single,
  .chosen-container-multi {
    border-color: #ccc;
    border-radius: 4px;

    .chosen-single,
    .chosen-choices {
      height: 33px;
      color: #000;
    }

    .chosen-choices {
      li {
        line-height: 1;
      }

      li.search-field input {
        height: 33px;
      }
    }
  }

  // Custom Inputs
  .restop-checkbox {

    > input[type="checkbox"] {
      display: none;

      &:checked {
        & + span {
          &::after {
            opacity: 1
          }
        }
      }
    }

    > span {
      margin-right: 8px;
      position: relative;

      &::before,
      &::after {
        @include borderRadius(20%);
        @include transition(opacity, .2s, ease-in-out);
        display: inline-block;
        font-family: FontAwesome;
      }

      &::before {
        //border: 2px solid #e5e5e5;
        color: #e5e5e5;
        content: "\f096";
        font-size: 1.5em;
        line-height: 1em;
        //height: 20px;
        position: relative;
        //width: 20px;
        vertical-align: text-bottom;
        z-index: 1;
      }

      &::after {
        @include absolPos(10%, null, null, -2px);
        color: #5fc65f;
        content: "\f00c";
        font-size: 1.6em;
        line-height: .5em;
        opacity: 0;
        position: absolute;
        z-index: 2;
      }
    }
  }

  .restop-radio {
    > input[type="radio"] {
      display: none;

      &:checked {
        & + span {
          &::after {
            opacity: 1
          }
        }
      }
    }

    > span {
      margin-right: 8px;
      margin-left: -20px;
      position: relative;

      &::before,
      &::after {
        @include borderRadius(50%);
        @include transition(opacity, .2s, ease-in-out);
        display: inline-block;
        font-family: FontAwesome;
      }

      &::before {
        //border: 2px solid #e5e5e5;
        color: #e5e5e5;
        content: "\f10c";
        font-size: 1.5em;
        line-height: 1em;
        //height: 20px;
        position: relative;
        //top: 4px;
        //width: 20px;
        z-index: 2;
      }

      &:after {
        @include borderRadius(100%);
        @include absolPos(0, null, null, 2px);
        //border: 2px solid #c2bebe;
        //background: #0e80f2;
        color: #0e80f2;
        content: "\f111";
        font-size: 1.2em;
        line-height: 1em;
        //height: 20px;
        opacity: 0;
        position: absolute;
        //width: 20px;
        z-index: 1;
      }
    }
  }

  .restop-select {
    @include appearance(none);
    @include boxShadow(none);
    background: url(../images/dropdown.jpg) no-repeat right center;
    background-size: 30px 100%;
    background-position: 100% 0;
    padding-right: 35px;

    option {
      padding: 5px 10px;
    }

    &.selectize {
      background: #fffcfc;
      padding: 0;
    }

    & + .selectize.selectize-control,
    & + .selectize-control,
    & + .selectize-control.single,
    & + .selectize-control.multi {

      .selectize-input.dropdown-active::after,
      .selectize-input::after {
        background: url(../images/dropdown.jpg) no-repeat right white;
        background-size: 30px 100%;
        background-position: 100% 0;
        border-width: 0;
        height: 100%;
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
      }
    }
  }

  .input-birthdays {
    .bday-col {
      display: inline-block;

      select {
        padding: 6px 35px 6px 5px;

        &.month {
          max-width: 115px;
        }

        &.day {
          max-width: 65px;
        }

        &.year {
          max-width: 80px;
        }
      }

      & + .bday-col {
        margin-left: 5px;
      }
    }
  }

  #birthdayPicker {

    select {
      font-size: 13px;
      display: inline-block;
      float: none;
      background: #fff;
      width: auto;
      height: 34px;
      padding: 6px 12px;
      color: #2b2f33;
      // border-radius: 3px;
      border: #dfe8f1 solid 1px;
      box-shadow: inset 0 0 1px;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    select + select {
      margin-left: 10px;
    }
  }

  .checkbox label {
    padding-left: 0px;
  }

  .selectize-control,
  .selectize-control.multi {
    .selectize-input,
    .selectize-input {
      padding: 7px 8px;
      &.has-items {
        padding: 5px 8px 2px;
      }
    }
  }
  .selectize-control.single {
    .selectize-input,
    .selectize-input {
      padding: 7px 8px;
    }
  }
}