/**
 * SASS Partials : header.scss
 * Includes styles for header
 * Author : Virgilio Lalamoro 1/3/2017
 */

@media screen {
	.header {
		.inner {
			padding: 15px 0 0;
			
			.upper {
				padding-bottom: 0;
				border-bottom: 10px solid #F4F5F7;
			}

			.lower {
				background: #244B56;
				border-top: 2px solid #42DBD0;
				border-bottom: 2px solid #42DBD0;
			}
		}

		#main-navigation {
			margin-bottom: 0;

			li {
				padding: 0;
				position: relative;
				line-height: 1;
				
				&.active a {
					// background: #BA8E68;
					color: #fff;
					text-decoration: none;
				}

				a {
					transition: background .2s ease-in-out;
					color: #9B9B9B;
					font-size: 14px;
					display: block;
					padding: 10px 25px;

					i {
						font-size: 18px;
						margin-right: 5px;
					}

					&:hover {
						// background: #BA8E68;
						color: #fff;
						text-decoration: none;
					}

					.menu-dropdown-arrow {
						position: relative;
					    float: right;
					    margin-right: 0;
					    margin-left: 10px;
					    top: 3px;
					}
				}

				&.dropdown-trigger:hover {
					> a {
						color: #fff;
						text-decoration: none;
					}
					.dropdown {
						display: block;
					}
				}

				.dropdown {
					background: #2f5f6d;
					display: none;
					position: absolute;
					padding: 5px 0;
					list-style-type: none;
					min-width: 100%;
					z-index: 2;

					a {
						padding: 10px 25px;
						white-space: nowrap;

						&:hover {
							background: #244b56;
						}

						i {
							font-size: 13px;
						}
					}
				}
			}
		}
	}
}