/**
 * SASS Partials : main.scss
 * Includes styles for general pages
 * Author : Virgilio Lalamoro 1/3/2017
 */

 @media screen {

	// Container
	.container {
		width: 90%;
		max-width: none;
		min-width: 1366px;
	}

	.container-fluid {
		min-width: 1366px;
	}

	 .selectize-control {
		 line-height: 1;
	 }

	 // Pre-loader
	#loading .svg-icon-loader {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -50px 0 0 -50px;
	}

	// Miscellaneous
	span.req {
		color: #FF5043;
		line-height: 1;
	}

	 .sorting-icon {
		 cursor: all-scroll;
	 }

	 .sortable-handle {
		 .glyphicon-sorter {
			 cursor: all-scroll;
		 }
	 }

	 .resize-none {
		 resize: none;
	 }

	// Status Display
	 .label-status {
		 text-transform: uppercase;
		 
		 &.label-gray {
			 background: #bcb0b0;
		 }
	 }

	// Heading
	.page-headings {
		background: #fff;
		padding: 15px 0 0;
		margin-bottom: 30px;

		.main-title {
			margin-top: 0;
			margin-bottom: 0;
		}

		.secondary-title {
			font-size: 14px;
			font-style: italic;
		}

		.breadcrumb {
			background: #fff;
			border-radius: 2px;
			padding: 0;
			margin-top: 5px;
			margin-bottom: 10px;

			li {

				&:first-child {
					font-size: 16px;
				}

				font-size: 11px;
				font-style: normal;
				font-weight: bold;
				letter-spacing: 1px;
			}
		}
	}

	// Main
	.main {
		padding-top: 20px;
		padding-bottom: 35px;
		background: #F4F5F7;

		.panel {
			border: 0;
		}
	}

	// Panels
	.panel {
		&.panel-default {
			.panel-heading {
				background: $panel-default-heading-bg;
				box-shadow: outset 0px -36px 9px -40px rgba(0,0,0,0.75);
				color: #666;
				font-weight: light;
				font-size: 18px;
			}
		}
	}
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}