// Mixin for postioning absolute positioned element
// ----------------------------------------------------
@mixin absolPos($t,$r,$bt,$l){
  @if( $bt != null ) { bottom: $bt; }
  @if( $l != null ) { left: $l; }
  @if( $t != null ) { top: $t; }
  @if( $r != null ) { right: $r; }
}

// Mixin for transitions
// ----------------------------------------------------
@mixin transition($trs, $trstime, $trstype) {
  -webkit-transition: $trs $trstime $trstype;
  -moz-transition: $trs $trstime $trstype;
  -ms-transition: $trs $trstime $trstype;
  -o-transition: $trs $trstime $trstype;
  transition: $trs $trstime $trstype;
}
// ----------------------------------------------------

// Mixin for border radius
// ----------------------------------------------------
@mixin borderRadius($amount) {
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}
// ----------------------------------------------------

// Mixin for background size
// ----------------------------------------------------
@mixin bgSize($type) {
  -webkit-background-size: $type;
  background-size: $type;
}
// ----------------------------------------------------

// Mixin for input appearance
// ----------------------------------------------------
@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}
// ----------------------------------------------------

// Mixin for box shadow
// ----------------------------------------------------
@mixin boxShadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
// ----------------------------------------------------