@media screen {
  // Table reset styles
  .table {
    font-size: $font-size-base;

    tbody {
      tr {
        td {
          color: #636b6f;
        }
      }
    }
  }

  &.table-bordered {
    border: 0;

    > thead,
    > tbody,
    > tfoot {

      > tr {
        > th.sorting {
          &::after {
            top: 35%;
          }
        }

        > th,
        > td {
          border-style: solid;
          border-color: $table-border-color;

          a:not(.btn):hover {
            color: #000;
          }
        }
      }

      > tr {
        > th,
        > td {
          border-width: 1px 0 0 1px;
        }

        > th:last-child,
        > td:last-child {
          border-right-width: 1px;
        }
      }

      > tr + tr {
        > th,
        > td {
          border-top-width: 1px;
        }
      }

      > tr:last-child {
        > th,
        > td {
          border-bottom-width: 1px;
        }
      }
    }

    > thead {
      > tr:first-child {
        > th,
        > td {
          border-top: 1px solid $table-border-color !important;
          border-bottom-width: 0;
        }
      }

      > tr {
        > th,
        > td {
          background: $table-heading-bg !important;
          color: $table-heading-color;
          padding: 15px 18px;
        }
      }
    }

    &.table-striped {
      > tbody {
        > tr:nth-of-type(2n+1) {
          background: #ECFBFF;;
        }

        > tr:hover {
          background: #E3FBE4 !important;

          td {
            background: #E3FBE4 !important;
          }
        }
      }
    }
  }
}