/**
 * SASS Partials : typography.scss
 * Includes styles for custom typography
 * Author : Virgilio Lalamoro 1/3/2017
 */

@media screen {
	
	body {
		color: $text-color;
		font-family: $font-family-sans-serif;
		font-size: $font-size-base;
		line-height: $line-height-base;
	}

	h1 {
		font-size: 30px;
	}

	.h1 {
		font-size: 30px;
	}

	h2, .h2 {
		font-size: 25px;
	}

	h3, .h3 {
		font-size: 18px;
	}

	h4, .h4 {
		font-size: 15px;
	}

	h5, .h5, h6, .h6 {
		font-size: 13px;
	}

	a {
		color: #06C2DA;
		
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}